
body {
    padding: 10px 10px 10px 10px;
    background-color: #FFE;
    border: 5px solid #000000;
}

img{
	border: 2px solid #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

h5 {
	color: #887;
	font-size: 16px;
}

a{
	color: #900;

}